assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/www/.composer/
/www/.bash_history
/www/yii-project/common/config/__autocomplete.php
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
